services:
  postgres:
    container_name: container-pg
    image: postgres:latest
    hostname: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - ./data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - app-network

  fahrgemeinschaften:
    container_name: fahrgemeinschaften
    image: fahrgemeinschaften:latest
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - 5000:5000
    environment:
      PG_HOST: postgres
      PG_USERNAME: ${PG_USERNAME}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DATABASE: ${PG_DATABASE}
    volumes:
      - ./data:/data
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge